<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
</head>
<body>
    <h1 style="text-align: center;">Lista de Produtos</h1>
    <h2 style="text-align: center;">
        <a th:href="@{/produtos/criar}">Adicionar Novo Produto</a>
    </h2>

    <table>
        <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Unidade</th>
            <th>Marca</th>
            <th colspan="2">Ações</th>
        </tr>
        <tr th:each="produto : ${produto}">
            <td th:text="${produto.descricaoProduto}"></td>
            <td th:text="${produto.valorProduto}"></td>
            <td th:text="${produto.unidadeProduto}"></td>
            <td th:text="${produto.marcaProduto}"></td>
            <td>
                <a th:href="@{/produtos/editar/{id}(id=${produto.idProduto})}">Editar</a>
                <a th:href="@{/produtos/excluir/{id}(id=${produto.idProduto})}">Excluir</a>
            </td>
        </tr>
    </table>
</body>
</html>